@model EquipmentsRental.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

@Html.Hidden("SelectedEquipment", Model.SelectedEquipment)

<div class="jumbotron">
    <h2>Online construction equipment rental</h2>

</div>
<div class="row">
    All Equipments:

    <div "col-md-4">
        @if (Model != null && Model.EquipmentsList != null && Model.EquipmentsList.Count > 0)
        {
            @*@Html.DropDownList("EquipmentsList", (ICollection<SelectListItem>)Model.EquipmentsSelectListItems, new { id = "EquipmentsList" });*@
            @*@Html.DropDownListFor(m => m.SelectedEquipment, Model.EquipmentsSelectListItems, "Select Equipment", new { id = "EquipmentsList" })*@
            <select id="EquipmentsList">
                @foreach (var item in Model.EquipmentsList)
                {
                    <option value="@item.EquipmentId">@item.Name</option>
                }
            </select>
        }



        Days to rent:
        <input style="width:60px" type="number" min="1" max="365" id="daysRental" />
        <a href="#" onclick="addEquipment()" class="addEquipmentLabel">Add to Cart</a>

    </div>

</div>

<hr />

<div id="divContent">
    @{ Html.RenderPartial("~/Views/Equipments/EquipmentDetails.cshtml", Model.DetailsObject); }
</div>

Equipments Cart:
<div class="equipmentsCart">
    <ul id="equipmentsItems"></ul>
</div>

<input id="generateInvoiceBtn" type="button" value="Generate Invoice" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#daysRental').val(1);
        var selectedItems = [];
        $("#generateInvoiceBtn").attr("disabled", true);

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        deleteEquItem = function (equipmentName, daysRental) {
            if (confirm('Are you sure you want to remove this item?')) {
                var deletedItem = 'li:has(\'a\'):contains(\'' + equipmentName + '\')';
                $(deletedItem).remove();
                if ($('#equipmentsItems li').length == 0) {
                    $("#generateInvoiceBtn").attr("disabled", true);
                }
                selectedItems.splice(selectedItems.indexOf(equipmentName + ';' + daysRental), 1);
            }
            else {
                return;
            }
        }

        addEquipment = function () {
            $("#generateInvoiceBtn").attr("disabled", false);
            var selectedValue = $('#EquipmentsList').val();
            var selectedText = $('#EquipmentsList option[value="' + selectedValue + '"]').text();
            var daysRental = $('#daysRental').val();
            if (daysRental < 1 || daysRental > 365) {
                alert('Rental days should be between 1 and 365.');
                return;
            }
            if ($('li:has(\'a\'):contains(\'' + selectedText + '\')').length > 0) {
                alert('This equipment item added before.');
                return;
            }

            var hrefItem = '<a href="#" onclick="deleteEquItem(\'' + selectedText + '\',\'' + daysRental + '\')">remove</a>';
            var addedItem = '<li>' + selectedText + ' | rental for :' + daysRental.toString() + ' day(s) | ' + hrefItem + '</li> ';
            $('#equipmentsItems').append(addedItem);
            selectedItems.push(selectedText + ';' + daysRental);
            $('#daysRental').val(1);
        }

        $("#EquipmentsList").on('change', function () {

            var selectedValue = $('#EquipmentsList').val();
            $('#daysRental').val(1);

            $.ajax({
                type: "GET",
                url: "/Home/ShowEquipmentDetails/" + selectedValue,
                success: (data) => {
                    $("#divContent").html(data);
                },
                error: (xhr, status, error) => {
                    alert(error);
                }
            });


        });

        $("#generateInvoiceBtn").on('click', function () {

            var postData = { purchasedItems: selectedItems };
            

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("BuyEquipments", "Home")',
                    data: postData,
                    success: function(data){
                        download(data.filename, data.filecontent);
                },
                error: (xhr, status, error) => {
                    alert(error);
                },
                    traditional: true
                });
        });

    });

</script>